@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities 

@font-face {
  font-family: "instill";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/instillFont-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/instillFont-Regular.woff")
      format("woff");
}
