@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .instill-text-h1 {
    @apply font-sans text-[32px] font-medium leading-[42px];
  }
  .instill-text-h2 {
    @apply font-mono text-[20px] font-medium leading-[26px];
  }
  .instill-text-h3 {
    @apply font-sans text-base font-normal leading-[28px];
  }
  .instill-text-body {
    @apply font-sans text-sm font-normal leading-[18px];
  }
  .instill-text-bold-body {
    @apply font-sans text-sm font-semibold leading-[18px];
  }
  .instill-text-small {
    @apply font-mono text-xs font-normal leading-[15.6px];
  }
  .instill-input-highlight {
    @apply border-instillGray70 border focus:border-instillBlue focus:outline-none focus:ring-0 focus:ring-white;
  }
}

@font-face {
  font-family: "instill";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/instillFont-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/instillFont-Regular.woff")
      format("woff");
}
