# Integration
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=
INTEGRATION_GITHUB_CLIENT_ID=
INTEGRATION_GITHUB_CLIENT_SECRET=
INTEGRATION_SLACK_CLIENT_ID=
INTEGRATION_SLACK_CLIENT_SECRET=
INTEGRATION_GOOGLE_DRIVE_CLIENT_ID=
INTEGRATION_GOOGLE_DRIVE_CLIENT_SECRET=
INTEGRATION_GOOGLE_SHEETS_CLIENT_ID=
INTEGRATION_GOOGLE_SHEETS_CLIENT_SECRET=

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=

# For downloading component icons
GITHUB_TOKEN=
