@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .instill-text-h1 {
    @apply font-mono font-semibold text-[32px] leading-[42px] sm:text-[64px] sm:leading-[83px];
  }
  .instill-text-h2 {
    @apply font-mono font-medium text-[23px] leading-[30px] sm:text-[36px] sm:leading-[47px];
  }
  .instill-text-h2-fixed {
    @apply font-mono font-medium text-[36px] leading-[47px];
  }
  .instill-text-h3 {
    @apply font-mono font-medium text-lg leading-[27px] sm:text-2xl sm:leading-[31px];
  }
  .instill-text-h3-light {
    @apply font-mono font-light text-lg leading-[27px] sm:text-2xl sm:leading-[41px];
  }
  .instill-text-body-fixed {
    @apply font-sans font-normal text-base leading-[28px];
  }
  .instill-text-body {
    @apply font-sans font-normal text-sm leading-[24px] sm:text-base sm:leading-[28px];
  }
  .instill-text-small {
    @apply font-mono font-normal text-xs;
  }
  .instill-input-highlight {
    @apply border border-instillGray70 focus:outline-none focus:ring-0 focus:ring-white focus:border-instillBlue;
  }
}

@font-face {
  font-family: "instill";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/instillFont-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/instillFont-Regular.woff")
      format("woff");
}