

.tiptap p.is-editor-empty:first-child::before {
  color: #1D2433;
  opacity: 0.65;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-family: IBM Plex Mono;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}