name: Build and Push Images

on:
  workflow_call:
  release:
    types: [published]

jobs:
  docker-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: dropletbot
          password: ${{ secrets.botDockerHubPassword }}

      - name: Build and push (latest)
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: instill/console:latest
          cache-from: type=registry,ref=instill/console:buildcache
          cache-to: type=registry,ref=instill/console:buildcache,mode=max

      - name: Set Versions
        if: github.event_name == 'release'
        uses: actions/github-script@v6
        id: set_version
        with:
          script: |
            const tag = '${{ github.event.release.tag_name }}'
            const no_v_tag = tag.replace('v', '')
            core.setOutput('tag', tag)
            core.setOutput('no_v_tag', no_v_tag)

      - name: Checkout
        if: github.event_name == 'release'
        uses: actions/checkout@v3

      - name: Setup node
        if: github.event_name == 'release'
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.0.1
        if: github.event_name == 'release'
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        if: github.event_name == 'release'
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        if: github.event_name == 'release'
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        if: github.event_name == 'release'
        run: rm -rf node_modules && pnpm i --frozen-lockfile

      - name: Download airbyte icons
        if: github.event_name == 'release'
        run: pnpm download-airbyte-icons
        working-directory: ./apps/console

      - name: Build and push (release)
        if: github.event_name == 'release'
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: instill/console:${{steps.set_version.outputs.no_v_tag}}
          cache-from: type=registry,ref=instill/console:buildcache
          cache-to: type=registry,ref=instill/console:buildcache,mode=max
